<div class="post-pic">
  <img src="{{postPic}}" />
</div>
<div class="post-heading">
  <strong>{{posterName}}</strong> <span class="handle">{{posterHandle}} - {{posterTimeAgo}}</span>
</div>
<div class="post-body">
  {{postBody}}
</div>
